@{
    ViewBag.Title = "List of projects";
}

<h2>Projects</h2>
<br />
<div class="view">
    <h4>Personal projects</h4>
     <ul>
        <li> <a href="http://www.google.com"  target="_blank">Webcomic: Drawing Room</a></li>
        <li><a href="http://www.twitter.com"  target="_blank">Webcomic: The Orc Rebellion</a></li>
        <li><a href="">Inktober 2015</a></li>
    </ul>
    <br />
    <h4>Client works</h4>
    <ul>
        <li><a href="http://www.facebook.com"  target="_blank">Book covers of the Maziondyne series</a></li>
        <li><a href="">Billboard art for Roca Rola</a></li>
        <li><a href="">Lorem Impsum Shoes ad</a></li>
        <li><a href="">Charity Promotional Art</a></li>
        <li><a href="">Character designs for Book-Worm</a></li>
        <li><a href="">Background Art for BlaBlaBla</a></li>
    </ul>

</div>